.tabs__control {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 285px;
	margin-left: auto;
	margin-bottom: 12px;
	padding: 13px 21px;
}

.tabs__btn {
	background-color: transparent;
	border-width: 0;
	border-bottom: 2px solid transparent;
	color: #fff;
	font-weight: bold;
	line-height: 1.1;
	transition: border-color .3s ease-in-out;
}

.tabs__btn_active {
	border-color: #fff;
}

.tabs__item {
	display: none;
}

.tabs__item_active {
	display: block;
}

.tabs__content {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

@media (max-width: 1000px) {
	.tabs__control {
		margin-bottom: 10px;
		padding: 18px 38px;
	}
}

@media (max-width: 850px) {
	.tabs__content {
		flex-wrap: wrap;
	}

	.tabs__control {
		margin-bottom: 32px;
		padding: 16px 46px;
	}

	.tabs__content_product {
		row-gap: 35px;
	}

	.tabs__content_video {
		row-gap: 50px;
	}

	.tabs__content_picture {
		row-gap: 35px;
	}
}

@media (max-width: 480px) {
	.tabs__control {
		max-width: 220;
		margin-bottom: 10px;
		padding: 10px 30px;
	}
}
